%table.table.is-hoverable.is-striped.is-fullwidth
  %thead
    %tr
      %th
        = link_to "Новый расход", new_documents_expense_operation_path,  class: "button is-info"
    %tr
      %th
        %abbr{ title: "Name" } Кошелек
      %th
        %abbr{ title: "Currency" } Валюта
      %th
        %abbr{ title: "Category" } Категория
      %th
        %abbr{ title: "Amount" } Сумма
      %th
        %abbr{ title: "Date" } Дата
      %th
        %abbr{ title: "Status" } Статус
      %th
        %abbr{ title: "Actions" } Действия
  %tbody
    - @expense_operations.each do |expense_operation|
      - status_class = expense_operation.draft? ? "is-link is-light" : "is-success"
      %tr
        %td
          = expense_operation.person_wallet.name
        %td
          = expense_operation.currency.code
        %td
          = expense_operation.category.name
        %td
          = number_to_human(expense_operation.total_amount, precision: 3)
        %td
          = l(expense_operation.transaction_time.to_date, format: :default)
        %td
          %span.tag{class: status_class}
            = expense_operation.status
        %td
          .buttons
            = link_to "copy", new_documents_expense_operation_path(source_document_id: expense_operation.id), class: "button is-success"
            = button_to "edit", edit_documents_expense_operation_path(expense_operation), method: :get, class: "button is-info"
            = button_to "delete", documents_expense_operation_path(expense_operation), method: :delete, class: "button is-danger"
!= pagy_bulma_nav(@pagy)
